---
layout: default
header_image: archiv-bg.jpg
title: Archiv
description: Alle bisherigen Zeitungen und Posts
---

<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8">
            {{ paginator.posts }}
            {% include postlist.html posts=paginator.posts %}
            <div class="clearfix">
                <div class="btn-group d-xxl-flex" role="group">
                    {% if paginator.previous_page %}
                        <a href="{{ paginator.previous_page_path }}">
                            <button class="btn btn-primary" type="button" style="margin-right: 10%;">&lt;-</button>
                        </a>
                    {% endif %}
                    {% if paginator.next_page %}
                        <a href="{{ paginator.next_page_path }}">
                            <button class="btn btn-primary" type="button">-&gt;</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
