---
permalink: /about
layout: default
header_image: about.jpg
title: Über uns
description: Lerne mehr über das Team hinter gymNEWSium
---

<section class="team-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Team</h2>
            <p class="text-center">Das kleine aber engagierte Team hinter der inoffiziellen Gymerzeitung Burgdorf&nbsp;</p>
        </div>
        <div class="row justify-content-center people">
            {% for person in site.data.team %}
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <img class="rounded-circle" src="/assets/img/{{ person.image }}">
                        <h3 class="name">{{ person.name }}</h3>
                        <p class="title">{{ person.position }}</p>
                        <p class="description">{{ person.bio }}</p>
                        <div class="social">
                            {% for icon in person.icons %}
                                <a href="{{ icon.url }}" target="_blank">
                                    <i class="{{ icon.icon }}"></i>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
