<header id="header" class="masthead" style="margin-bottom: 0;">
    <div class="overlay"></div>
    <div class="container-lg">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto position-relative">
                <div class="post-heading {% if page.alerts %}pb-3{% endif %}">
                    <h1>{{ page.title }}</h1>
                    <h2 class="subheading">{{ page.description }}</h2>
                    <span class="meta">
                        Veröffentlicht 
                        
                        {% if page.date %}{% unless page.nodate %}
                            am <span class="text-white">{{ page.date | date: "%d.%m.%Y" }}</span>
                        {% endunless %}{% endif %}
                        {% if page.category and site.categorylist[page.category] %}
                            in <a class="categorylink" href="{{ site.categorylist[page.category].url }}">
                                {{ site.categorylist[page.category].title }}
                            </a>
                        {% endif %}

                        <br>

                        {% unless page.tags == empty %}
                            <div class="tags mt-2">
                                Tags:
                                {% for tag in page.tags %}{% if site.taglist[tag] %}
                                <a class="taglink" href="{{ site.taglist[tag].url }}">{{ site.taglist[tag].title }}</a>{%
                                unless forloop.last %},{% endunless %}
                                {% endif %}{% endfor %}
                            </div>
                        {% endunless %}
                        {% if page.author %}
                            <div class="author mt-2">
                                Autor:
                                {% if site.data.team[page.author] %}
                                    {% assign author = site.data.team[page.author] %}
                                    <a class="authorlink" href="/about#p-{{ page.author }}">
                                        {{ author.name }}
                                    </a>
                                {% else %}
                                    <a class="authorlink" target="_blank" href="{{ page.authorurl }}">
                                        {{ page.author }}
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </span>
                    {% if page.defaultalerts %}
                        {% if page.alerts %}
                            {% assign alerts = page.defaultalerts | concat: page.alerts %}
                            {% include alerts.html alerts=alerts %}
                        {% else %}
                            {% include alerts.html alerts=page.defaultalerts %}
                        {% endif %}
                    {% else %}
                        {% if page.alerts %}
                            {% include alerts.html alerts=page.alerts %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>