---
layout: base
---

<header id="header" class="masthead" style="margin-bottom: 0;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto position-relative">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    <h2 class="subheading">{{ page.description }}</h2>
                    <span class="meta">
                        Veröffentlicht am <span class="text-white">{{ page.date | date: "%d.%m.%Y" }}</span>

                        {% if page.category and site.categorylist[page.category] %}
                            in <a class="categorylink" href="{{ site.categorylist[page.category].url }}">
                                {{ site.categorylist[page.category].title }}
                            </a>
                        {% endif %}
                        <br>
                        {% unless page.tags == empty %}
                            <div class="tags mt-2">
                                Tags:
                                {% for tag in page.tags %}{% if site.taglist[tag] %}
                                <a class="taglink" href="{{ site.taglist[tag].url }}">{{ site.taglist[tag].title }}</a>{% unless forloop.last %},{% endunless %}
                                {% endif %}{% endfor %}
                            </div>
                        {% endunless %}
                        {% if page.author and site.data.team[page.author] %}
                            {% assign author = site.data.team[page.author] %}
                            <div class="author mt-2">
                                Autor:
                                <a class="authorlink" href="/about#p-{{ page.author }}">
                                    {{ author.name }}
                                </a>
                            </div>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-justify">
                {{ content }}

                {% if page.download %}
                    <a href="{{ page.download }}" class="btn btn-primary" target="_blank" role="button">Herunterladen</a>
                {% endif %}

                {% if page.pdfembed %}
                    <a href="#pdfviewer" onclick="pdfviewerfullscreen();" class="btn btn-primary" role="button">Vollbild</a>
                    <br>
                    <br>
                    {% include pdf.html url=page.pdfembed %}
                    <style>
                        iframe.pdf {
                            width: 100%; 
                            height: 90vh;
                        }
                    </style>
                {% endif %}

                {% if site.enable_subposts %}
                    {% assign subposts = site.posts | where:"parent",page.id %}
                    {% unless subposts == empty %}
                        <div class="subposts">
                            <br class="mb-1">
                            <h2>Einzelveröffentlichungen</h2>
                            {% include postlist.html posts=subposts %}
                        </div>
                    {% endunless %}
                {% endif %}
            </div>
        </div>
    </div>
</article>