---
layout: base
---

<header id="header" class="masthead" style="margin-bottom: 0;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto position-relative">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    <h2 class="subheading">{{ page.description }}</h2>
                    <span class="meta">
                        Veröffentlicht am {{ page.date | date: "%d.%m.%Y" }}

                        {% if page.category %}{% if site.categorylist[page.category] %}
                            in <a href="{{ site.categorylist[page.category].url }}" style="text-decoration: underline;">
                                {{ site.categorylist[page.category].title }}
                            </a>
                        {% endif %}{% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                {{ content }}

                {% if page.download %}
                    <a href="{{ page.download }}" class="btn btn-primary" target="_blank" role="button">Herunterladen</a>
                {% endif %}

                {% if page.pdfembed %}
                    <a href="#pdfviewer" onclick="pdfviewerfullscreen();" class="btn btn-primary" role="button">Vollbild</a>
                    <br>
                    <br>
                    {% include pdf.html url=page.pdfembed %}
                    <style>
                        iframe.pdf {
                            width: 100%; 
                            height: 90vh;
                        }
                    </style>
                {% endif %}
            </div>
        </div>
    </div>
</article>